<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/post-list.css">
</head>
<body>
<nav>
    <div class="nav-container">
        <div class="nav-wrapper">
            <a class="nav-home" href="#">mnemonics</a>
            <ul class="nav-menu">
                <li><a href="#">📜 about</a></li>
                <li><a href="/tags">🏷️ tags</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <ul class="post-list-container">
        <li class="list-content" th:each="post : ${posts}">
            <div class="post-content">
                <a th:href="'/pages/' + ${post.title}" class="post-link">
                    <strong class="post-title" th:text="${post.title}"></strong>
                    <p class="post-summary" th:text="${post.summary}"></p>
                </a>
                <div class="post-meta">
                    <a th:text="${post.category.name}" th:href="${post.category.name}" class="post-category"></a>
                    <span class="text-divider"></span>
                    <span th:text="${post.lastModifiedDate}"></span>
                </div>
            </div>
        </li>
    </ul>
    <!--<ul class="post-page-container">
        <li><a class="current-page" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">eof</a></li>
    </ul>-->
</main>
<footer>

</footer>
</body>
</html>