<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/post-view.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.7/marked.min.js"
            integrity="sha512-Sl04EWeJ0QgILm83WoubQbZqh71aWLJP8xnswnKSBI37S+ZtrWVtSHmd1YaYYdC1g9PWN1siY7KO2jU3HtCVHA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div class="navbar-container">
        <a href="/">go back</a>
        <a id="remove-this-post" href="#">삭제</a>
    </div>
</nav>
<main th:object="${article}">
    <article class="blog-post">
        <header class="blog-post-header">
            <h1 th:text="*{title}"></h1>
        </header>
        <div id="post-content" class="post-content">
        </div>
    </article>
</main>
<footer>
    발바닥
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('post-content').innerHTML =
        marked(/*[[${article.content}]]*/)
    /*]]>*/

    const btnRemove = document.getElementById('remove-this-post');
    btnRemove.addEventListener('click', () => {
        const title = window.location.href.split('/')[window.location.href.split('/').length - 1]
        const l = `/v1/posts/${title}`
        fetch(l, { method: 'DELETE' }).then(res => {
            window.location.href = '/'
        })
    })
</script>
</body>
</html>