<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup" method="post" role="form" th:object="${signUpForm}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">제목 없음</p>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">이름 없음</p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비번 없음</p>
    <input th:field="*{email}" placeholder="이메일을 입력하세요."/>
    <input th:field="*{username}" placeholder="사용자 이름을 입력하세요."/>
    <input th:type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요."/>
    <input type="submit" value="가입"/>
</form>
</body>
</html>