<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/write" method="post" role="form" th:object="${writePostForm}">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">제목 없음</p>
    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">내용 없음</p>
    <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">분류 없음</p>
    <input th:field="*{title}" placeholder="제목은 여기에"/>
    <select th:field="*{category}">
        <option value="">카테고리를 선택하세요</option>
        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
    </select>
    <textarea th:field="*{content}" placeholder="포스트 내용"></textarea>
    <input type="submit" value="쓰기"/>
</form>
</body>
</html>